*.png
auth.txt
auth.json
analysis/auth.txt
.DS_Store
experiment/.DS_Store
experiment/code/node_modules/*
experiment/code/.DS_Store
experiment/.DS_Store
.DS_Store
experiment/.DS_Store
.DS_Store
.DS_Store
